body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 200%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
::selection {
  background: #82ccdd;
  color: white;
}

